html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(../media/bg3.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    margin: 35vh auto;
    background: transparent;
    width: 31vw;
    height: 37vh;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .8s;
    cursor: pointer;
}

.card-front,
.card-back {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    background: #ca1d19;
    background: linear-gradient( #E83E2D, #ca1d19);
    color: #fff;
    backface-visibility: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
}

.card-front {
    font-size: 1rem;
}

.card-front header {
    padding: .8rem 1.4rem .6rem;
    display: flex;
    justify-content: flex-end;
}

header h2 {
    margin: 0;
    margin-right: .6rem;
    font-size: 2rem;
}

img[alt="brand-logo"] {
    width: 30px;
    height: 30px;
}

.currency-module,
.card-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-module img {
    margin-top: .2rem;
    width: 40px;
    height: 40px;
}

.card-type img {
    align-self: flex-end;
    margin-bottom: 1rem;
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
}

.card-type span {
    margin-right: .6rem;
    font-size: 1.1rem;
}

.card-front section.first {
    padding: 0 1.4rem;
    display: flex;
    justify-content: space-between;
}

.card-number pre {
    padding: 0 1.4rem;
    font-family: "courier new", courier, monospace;
    font-weight: lighter;
    font-size: 1.3rem;
}

.visa-wrapper {
    width: 95px;
    height: 38px;
    background: white;
}

img[alt="visa-img"] {
    height: 100%;
    width: 100%;
}

section.bottom {
    padding: 0 1.4rem .5rem;
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
}

.bottom .holder-name {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.holder-name .expiration {
    display: flex;
    font-size: .4rem;
}

.bottom .holder-name .name {
    font-weight: bold;
    font-size: .95rem;
    align-self: flex-end;
}

.holder-name .title {
    margin-top: .1rem;
    margin-left: -2.5rem;
}

img[alt="arrow-right"] {
    align-self: flex-start;
    margin-top: .2rem;
}

.holder-name .date {
    font-size: .85rem;
    margin-left: .5rem;
}

.card-back {
    font-size: 0.7rem;
    /* height: fit-content; */
}

.card-back .phone-number {
    position: relative;
    display: flex;
    flex-direction: column;
}

.phone-number span {
    margin: 0.2rem;
    text-align: center;
}

.phone-number:after {
    margin: 0.3rem 0;
    content: "";
    bottom: 0;
    padding: 0;
    right: 0;
    width: 100%;
    height: 35px;
    background: black;
}

.card-back .cvv {
    display: flex;
    font-size: 0.55rem;
    justify-content: space-between;
    padding: 0 0.7rem;
}

.cvv .cvv-wrapper {
    display: flex;
    flex-direction: column;
}

.cvv .cvv-serial {
    font-size: 0.4rem;
    margin-top: 0.7rem;
}

.cvv .cvv-panel {
    background: white;
    color: black;
    text-align: right;
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
    font-weight: bolder;
    margin: 0.7rem 0;
    position: relative;
}

.cvv .cvv-panel:after {
    position: absolute;
    content: "";
    left: 0;
    top: -0.2rem;
    width: 84%;
    height: 128%;
    border-radius: 2px;
    background: repeating-linear-gradient( white, orange, white, orange, white, orange, white, orange);
}

.card-back .silver-panel {
    background: silver;
    margin-left: 0.7rem;
    border-radius: 7px;
    height: 58px;
    width: 86px;
}

.card-back .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.46rem;
    padding: 0.1rem;
    height: 60px;
}

.info p {
    margin: 0;
    padding: 0 0.3rem 0 0.5rem;
    display: flex;
    align-items: center;
}

.info .address {
    padding: 0.2rem 0.4rem 0rem;
    border-left: 2px solid white;
    display: flex;
    justify-content: space-between;
}

.app-web {
    display: flex;
    flex-direction: column;
}

.app-web .images img {
    width: 25px;
    height: 25px;
    margin-bottom: .3rem;
}

.images img+img {
    margin-left: 1.2rem;
}

.address .email-address {
    align-self: flex-end;
    text-align: right;
    margin-top: .4rem;
}

.active .card {
    transform: rotateX(-180deg)
}

.card .card-back {
    transform: rotateX(180deg);
}